<!DOCTYPE HTML>
<html>
    <head>
        <title>Fire Emblem?</title>
        <meta charset="utf-8">
        <meta name="author" content="Cameron Eldridge">
        <meta name="author" content="Ethan Hardy">
        <meta name="description" content="An online multiplayer story-driven tactical role playing game">
        <meta name="keywords" content="strategy,fire,emblem,tactical,rpg,role,playing,game,war,nintendo,game,story,multiplayer">

        <link rel="stylesheet" type="text/css" href="/style/main.css">
        <link rel="shortcut icon" type="image/png" href="/image/favicon.png">
    </head>
    <body>
        <%- include ./html/login.html %>
        <%- include ./html/main-menu.html %>
        <%- include ./html/lobby.html %>
        <%- include ./html/story.html %>
        <%- include ./html/shop.html %>
        <%- include ./html/game.html %>
        <%- include ./html/results.html %>
        <%- include ./html/friends.html %>
        <script src="/script/main.js"></script>
    </body>
</html>